@font-face {
  font-family: 'Bank Gothic';
  src: url('../public/assets/fontes/OPTIBankGothic.otf');
}

@font-face {
  font-family: 'Aharoni Bold';
  src: url('../public/assets/fontes/aharoni-bold.ttf');
}

@font-face {
  font-family: 'Cloister Black';
  src: url('../public/assets/fontes/CloisterBlack.ttf');
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.App {
  height: 100vh;
  
}

.largura-limitada {
  max-width: 1024;
  margin: auto;
}

.links {
  font-family: 'Bank Gothic';
  text-decoration: none;
  color: rgb(202, 202, 202);
  transition-duration: 0.2s;
  letter-spacing: 10px;
}

.links:hover {
  cursor: pointer;
  color: white;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.096);
}
